/*index.html.erb全体*/
.wrapper{
  display: flex;
}

/*side-bar*/
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

/*side-bar上部*/
.side-bar-top{
  background-color: #253141;
  height: 100px;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name-container a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.chat-new a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

/*side-bar下部*/
.side-bar-main{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 40px 0 40px;
  overflow: scroll;
}

.chat-room-container{
  padding: 20px 0 40px 0;
}

.chat-room-container a{
  color: white;
  text-decoration: none;
}

/*chat-main*/
.chat-main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}

/*chat-main上部*/
.chat-main-top{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

.current-chat{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-delete{
  border: 1px solid darkred;
  padding: 20px;
  margin-top: 20px;
}

.chat-delete a{
  font-size: 20px;
  color: darkred;
  text-decoration: none;
}

/*メッセージ表示部分*/
.chat-main-main{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.message-container{
  margin-bottom: 40px;
}

.top-container{
  display: flex;
}

.user-name{
  padding: 10px 10px 0 0;
  font-size: 16px;
  color: #434a54;
}

.created_at{
  padding-top: 10px;
  color: #999;
  font-size: 12px;
}

.bottom-container{
  color: #434a54;
  font-size: 14px;
  padding-top: 10px;
}

/*フォーム部分*/
.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38aef0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

/*バリデーションエラーメッセージの非表示*/
.field_with_errors{
  display: contents;
}

